ul {
    list-style: none; /*убираем маркеры списка*/
    margin: 0; /*убираем отступы*/
    padding-left: 0; /*убираем отступы*/
    margin-top: 25px; /*делаем отступ сверху*/
    background: #aca9ab; /*добавляем фон всему меню (заменив этот параметр, вы поменяете цвет всего меню)*/
    height: 50px; /*задаем высоту*/
}

a {
    text-decoration: none; /*убираем подчеркивание текста ссылок*/
    background: #90c843; /*добавляем фон к пункту меню (заменив этот параметр, вы поменяете цвет всех пунктов меню)*/
    color: #0d0a0c; /*меняем цвет ссылок*/
    padding: 0px 15px; /*добавляем отступ*/
    font-family: 'Open Sans', sans-serif; /*меняем шрифт*/
    line-height: 50px; /*ровняем меню по вертикали*/
    display: block;
    border-right: 1px solid #0d0a0c; /*добавляем бордюр справа*/
    -moz-transition: all 0.3s 0.01s ease; /*делаем плавный переход*/
    -o-transition: all 0.3s 0.01s ease;
    -webkit-transition: all 0.3s 0.01s ease;
}

.change_language a {
    line-height: 25px; /*ровняем меню по вертикали*/
    padding: 0px 5px; /*добавляем отступ*/
}

a:hover {
    background: #d46c1e; /*добавляем эффект при наведении*/
}

li {
    float: left; /*Размещаем список горизонтально для реализации меню*/
}



.hi {
    background: #2a94c8;
    font-family: 'Open Sans', sans-serif;
    line-height: 50px;
    padding: 0px 15px;
    display: block;
    border-right: 1px solid #0d0a0c;
    -moz-transition: all 0.3s 0.01s ease;
    -o-transition: all 0.3s 0.01s ease;
    -webkit-transition: all 0.3s 0.01s ease;
}
.hi b {
    color: #0d0a0c;
}

.hi, .newPeriodical, .user_details, .logout, .change_language {
    float: right;

}

.change_language a {
    font-family: 'Open Sans', sans-serif;
    display: block;
    width: 50px;
    height: 25px;
    padding: 0px 10px;
}

#lang_en:hover, #lang_ru:hover {
    background: #c6c8c7;
}

#lang_en {
    background: #246fc8;
}

#lang_ru {
    background: #c83c16;
}
