ul {
    list-style: none;
    margin: 0;
    padding-left: 0;
    margin-top: 25px;
    background: #3c3939;
    height: 50px;
}

a {
    text-decoration: none;
    background: #90c843;
    color: #FFF;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 14pt;
    padding: 0 15px;
    line-height: 50px;
    display: block;
    border-right: 1px solid #0d0a0c; /
    -moz-transition: all 0.3s 0.01s ease;
    -o-transition: all 0.3s 0.01s ease;
    -webkit-transition: all 0.3s 0.01s ease;
}

.change_language a {
    line-height: 25px;
    padding: 0 5px;
}

a:hover {
    background: #d46c1e;
}

li {
    float: left;
}



.hi {
    background: #2a94c8;
    font-family: 'Open Sans', sans-serif;
    line-height: 50px;
    padding: 0px 15px;
    display: block;
    color:  #FFF;
    border-right: 1px solid #0d0a0c;
    -moz-transition: all 0.3s 0.01s ease;
    -o-transition: all 0.3s 0.01s ease;
    -webkit-transition: all 0.3s 0.01s ease;
}
.hi b {
    color:  #FFF;
}

.hi, .newPeriodical, .user_details, .logout, .change_language,.check_all_orders {
    float: right;

}

.change_language a {
    font-family: 'Open Sans', sans-serif;
    display: block;
    width: 50px;
    height: 25px;
    padding: 0px 10px;
}

#lang_en:hover, #lang_ru:hover {
    background: #c6c8c7;
}

#lang_en {
    background: #246fc8;
}

#lang_ru {
    background: #c83c16;
}
