p {
    text-align: left;
    font-size: 18px;
    font-family: 'Open Sans', sans-serif;
}

.button, .user_delete {
    text-align: center;
    height: 50px;
    width: 250px;
    border-radius: 3px;
    border: rgba(0, 0, 0, .3) 0px solid;
    box-sizing: border-box;
    padding: 5px;
    background: #90c843;
    color: #FFF;
    font-family: 'Open Sans', sans-serif;
    font-weight: 200;
    font-size: 16pt;
    transition: background .4s;
    cursor: pointer;
}

.button:hover, .user_delete:hover {
    background: #80b438;
}
